.ReproductorAudio {
  font-family: sans-serif;
}
.ReproductorAudio h1 {
  margin-top: 15px;
  text-align: center;
}
.ReproductorAudio ul {
  list-style-type: decimal;
  margin-bottom: 150px;
}
.ReproductorAudio li:hover {
  background-color: rgb(105, 104, 104);
}
body {
  background-color: black; 
  color: white; 
}
.button {
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.reproductor {
  display: flex; 
  justify-content: center; 
  margin-top: 10px; 
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0; 
  right: 0; 
  padding: 10px;
  background-color: black;
  box-shadow: 0 40px 10px rgba(128, 128, 128, 0.5), 0 -5px 5px rgba(128, 128, 128, 0.3);
}
button {
  background-color: black; 
  color: white;
  margin: 0px;
}
li {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 10px; 
  margin: 5px 0; 
  border-radius: 5px;
  box-shadow: 0 -5px 5px rgba(128, 128, 128, 0.3);
}